<div class="min-h-screen flex flex-col items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8 card">
    <h2 class="mt-6 text-center text-3xl font-extrabold">Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "mt-8 space-y-6" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="rounded-md shadow-sm space-y-4">
        <div>
          <%= f.label :password, "New password", class: "block text-sm font-medium" %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password",
                               class: "mt-1 appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-purple-500 focus:border-purple-500 focus:z-10 sm:text-sm" %>
          <% if @minimum_password_length %>
            <span class="text-xs">(<%= @minimum_password_length %> characters minimum)</span>
          <% end %>
        </div>

        <div>
          <%= f.label :password_confirmation, "Confirm new password", class: "block text-sm font-medium" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password",
                               class: "mt-1 appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-purple-500 focus:border-purple-500 focus:z-10 sm:text-sm" %>
        </div>
      </div>

      <div>
        <%= f.submit "Change my password",
                     class: "group relative w-full flex justify-center btn btn-primary border border-transparent text-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2" %>
      </div>
    <% end %>

    <div class="mt-6 text-center text-sm">
      <%= render "devise/shared/links", class: "text-purple-600 hover:text-purple-500" %>
    </div>
  </div>
</div>
