<!DOCTYPE html>
<html>
<head>
  <title>Starter App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <% if Rails.env.development? %>
    <%= vite_client_tag %>
  <% end %>
  <%= vite_javascript_tag 'application' %>

</head>
<body class="body-base h-screen">
<div id="app" class="h-full"></div>
</body>
</html>
